<h1 class="guess-title"> Quizing <%= @round.deck.name %> </h1>

	<% if @round.deck.cards.empty?  %>

		<h3 class="alert"> NO CARDS IN DECK </h3>

	<% elsif @round.complete? %>

		<h2 class="sub-title"> Round Statistics </h2>

		<% @round.guesses.each do |guess|%>
			<div class="stats">
				<%= guess.card.name %> | <%= guess.answer %>
			</div>
		<% end %>

	<% else %>

		<div class="card-guess-main">
		<section class="guess-container">
			<div class="card-title"><%= @round.current_card.name %></div>
			<div id="card">
				<figure class="front">
					<%= @round.current_card.title %>
				</figure>
				<figure class="back">
					<%= @round.current_card.description %>
				</figure>
			</div>
		</section>
		</div>


		<h1 class="guess-question"> DO YOU KNOW ME? </h1>

		<div class="guess-options">
			<%= link_to 'YES', round_guesses_path(card_id: @round.current_card.id, round_id: @round, answer: "YES"), method: :post,:class=>"guess-button button-green"  %>
			<%= link_to 'NO', round_guesses_path(card_id: @round.current_card.id, round_id: @round, answer: "NO"), method: :post,:class=>"guess-button button-red"%>
		</div>

	<% end %>