<h1> CREATE A NEW DECK </h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p class="error"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @deck do |f| %>
<fieldset id="form">
  <div class="input-options">
    <%= f.label :name %>
    <%= f.text_field :name, :minlength => 8 %>
  </div>
  <div class="form-button">
  <%= f.submit 'Save Deck', class: 'button-user' %>
  </div>
</fieldset>
<% end %>