<h1><%= @deck.name %></h1>

<h3> Cards In Deck </h3>
<h4><%= link_to 'ADD CARD', new_deck_card_path(@deck.id) %></h4>

<% @deck.cards.each do |card| %>
	<section class="container">
		<div id="card">
			<figure class="front">
				<span>
				<%= card.name %>
				<br>
				<%= card.title %>
				</span>
			</figure>
			<figure class="back">
				<span>
				<%= card.description %>
				</span>
			</figure>
		</div>
	</section>
<% end %>

