<!DOCTYPE html>
<html>
<head>
	<title>ReMember</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8"> 
</head>
<body>

	<nav class="navigation-bar">
	<%= link_to(image_tag("Logo.png",:class=>"logo"), root_path) %>
		<ul class="nav-options">
			<% if current_user %>
				<li class="nav-link"><%= link_to current_user.username, user_path(current_user) %></li>
				<li class="nav-link"><%= link_to 'Log Out', session_path(current_user), method: :delete %> </li>
			<% else %>
				<li class="nav-link"><%= link_to 'Sign Up', new_user_path %></li>
				<li class="nav-link"><%= link_to 'Log In', new_session_path %></li>
			<% end %>
		</ul>
	</nav>

	<main>
	<%= yield %>
	</main>

</body>
</html>